params.threads = 16
params.ref_gen_idx_dir = "/camp/lab/ciccarellif/working/Reda/GDC_RNAseq_pipeline/reference_files/idx/star_genome_d1_vd1_gtfv22"
params.ref_gen = "/camp/lab/ciccarellif/working/Reda/GDC_RNAseq_pipeline/reference_files/refgen/GRCh38.d1.vd1.fa"
params.gtf = "/camp/lab/ciccarellif/working/Reda/GDC_RNAseq_pipeline/reference_files/gtf/gencode.v22.annotation.gtf"
params.rnaseqc_gtf = "/camp/lab/ciccarellif/working/Reda/GDC_RNAseq_pipeline/reference_files/gtf/gencode.v22.annotation.RNA-SeQC.gtf"

process {

  executor='slurm'
  queue='compute'

  withLabel: 'parallel' {
    clusterOptions = "--ntasks=1 --cpus-per-task=${params.threads} --mem=150G"
  }

  withName: 'rawReadCount' {
    clusterOptions = "--ntasks=1 --cpus-per-task=4 --mem=100G"
  }

  withName: 'FPKM_TPM' {
    clusterOptions = "--ntasks=1 --cpus-per-task=1 --mem=16G"
  }

  withName: 'RNASeQC' {
    clusterOptions = "--ntasks=1 --cpus-per-task=2 --mem=100G"
  }
  
}
